html {
  margin: 0;
}

body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
  color: #3a241d;
  text-align: center;
}

#page {
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.terrarium {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.page-header {
  padding-top: 5%;
  margin-bottom: 5%;
}
.plant-holder {
  margin-bottom: -45%;
}

.plant {
  max-height: 22vh;
}

.jar-top {
  width: 50%;
  height: 5%;
  background: #d1e1df;
  opacity: 0.7;
}

.jar-walls {
  width: 100%;
  height: 80%;
  background: #d1e1df;
  border-radius: 10%;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.jar-bottom {
  height: 1%;
  width: 50%;
  background: #d1e1df;
  opacity: 1;
}

.dirt {
  height: 5%;
  width: 94%;
  background: #3a241d;
  border-radius: 0 0 5rem 5rem;
  margin: 0 auto;
  margin-bottom: 2%;
}

.jar-glossy-long {
  height: 22%;
  width: 3%;
  bottom: 18%;
  background: #dffdfa;
  border-radius: 4rem;
  margin-left: 10%;
  margin-bottom: 5%;
}

.jar-glossy-short {
  height: 6%;
  width: 3%;
  background: #dffdfa;
  border-radius: 4rem;
  margin-left: 10%;
  margin-bottom: 15%;
}
